.appHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    font-size: 14px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.appHeaderLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.appHeaderLogo > a {
    padding: 5px;
}

.appHeaderNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 74px;
}

.appHeaderNav__item {
    
    background-color: transparent; /* reset btn styles */
}

/* Header Menu */

.appHeaderNav__drawerOpenBtn {
    padding: 0 15px;
}

.appHeaderNav__drawerOpenBtn > span {
    display: block;
    width: 25px;
    height: 17px;
    background: url('./assets/menu.svg') no-repeat, white; /* 25x17 */
}

/* hide on mobile */
@media screen and (max-width: 889px) {

    /* hide all nav items except drawerOpenBtn */
    .appHeaderNav__item:not(.appHeaderNav__drawerOpenBtn) {
        display: none;
    }

    .appHeaderSearch {
        display: none;
    }

    /* hide the avatar on mobile */
    .appHeaderNav__drawerOpenBtn > span > .avatar {
        display: none;
    }
}

/* Desktop Media Query */
@media screen and (min-width: 890px) {
    
    .appHeaderLogo,
    .appHeaderSearch,
    .appHeaderNav {
        width: 33.33%;
    }

    /* Header Search */

    .appHeaderSearch {
        padding-left: 15px;
    }
                
    .appHeaderSearch input {
        max-width: 293px;
        width: 100%;
        height: 45px;
        border: 1px solid #C9C5BD;
        border-radius: 3px;
        padding: 0 100px 0 40px;
        background-image: url('./assets/searchicon.svg');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        font-size: 14px; /* probably not needed */
        -webkit-appearance: none;
    }
        
    .appHeaderSearch input:focus {
        outline: none;
        border: 1px solid #53504B;
    }
        
    .appHeaderSearch input::-webkit-input-placeholder {
        color: #B3B1AD;
        letter-spacing: 1px;
    }
        
    .appHeaderSearch input:-ms-input-placeholder {
        color: #B3B1AD;
        letter-spacing: 1px;
    }
        
    .appHeaderSearch input::-ms-input-placeholder {
        color: #B3B1AD;
        letter-spacing: 1px;
    }
        
    .appHeaderSearch input::placeholder {
        color: #B3B1AD;
        letter-spacing: 1px;
    }

    /* Header Nav */

    .appHeaderNav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .appHeaderNav__item {
        position: relative; /* for the hover effect */
        line-height: 74px; /* center vertically its child */
        margin: 0 15px;
        padding: 0; /* to reset user agent padding on btn element */
        font-size: 14px;
        text-decoration: none;
        color: #53504B;
    }

    /* these styles will probably be moved to button component */
    .appHeaderNav__logInBtn > button {
        width: 70px;
        height: 30px;
        padding: 5px;
        color: white;
        border: 1px solid #249974;
        border-radius: 3px;
        background-color: #249974;
    }

    .appHeaderNav__logInBtn button:hover {
        background-color: #177456; 
    }

    /* Hover effect on nav items */

    .appHeaderNav__item::after {
        content: '';
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        border-bottom: 2px solid #ffae00;
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: -webkit-transform 300ms ease-in-out;
        transition: -webkit-transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    }

    .appHeaderNav__item:hover::after {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }
    
    /* Hide drawerOpenBtn when not signed in */

    .appHeaderNav__drawerOpenBtn {
        display: none;
    }

    /* Signed In State */

    .appHeaderNav--signedIn > .appHeaderNav__drawerOpenBtn {
        display: block; /* unhide when signed in */
        padding: 0;
    }

    .appHeaderNav--signedIn > .appHeaderNav__drawerOpenBtn > span {
        width: 44px;
        height: 44px;
        font-size: 16px; /* important to define because of Avatar */
        background-image: none; /* remove hamburger icon bg */
        
        /* if user has a profile pic, it will go here as a bg image */
        /*
            background-image: url('profile.png');
            border-radius: 50%;
        */
    }

} /* End of Desktop Media Query */
