html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }

body {
    font-family: Montserrat; 
    background-color: #FCFCFC;
    padding: 0;
    margin: 0;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: white;
    font-size: 14px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    max-height: 74px;
}

.logo {
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding: 15px 0;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

button:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

button:focus:hover {
    outline: none !important;
}

button:active {
    outline: none !important;
}

.header__search {
    display: none;
}

.header__nav a {
    display: none;
}

.header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-preferred-size: 25px;
        flex-basis: 25px;
}


/* Header Menu */
.menu {
    -ms-flex-preferred-size: 25px;
        flex-basis: 25px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 0;
    margin: 0 15px 0 15px;
    height: 100%;
}

.menu button {
    background-image: url(menu.svg);
    background-color: white;
    border: none;
    padding: 0;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 17px;
    width: 25px;
}

/* Header Menu Drawer */
.drawer {
    position: fixed;
    width: 100%;
    left: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    top: 0;
    -webkit-transition: -webkit-transform .2s linear .06s;
    transition: -webkit-transform .2s linear .06s;
    transition: transform .2s linear .06s;
    transition: transform .2s linear .06s, -webkit-transform .2s linear .06s;
}

.drawer--active {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.drawer--sidebar {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 235px;
            flex: 1 0 235px;
    max-width: 235px;
    background-color: #FCFCFC;
    margin: 0;
    height: 100%;
    border-radius: 3px 0 0 3px;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.drawer--overlay {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    -webkit-transition: opacity .05s linear;
    transition: opacity .05s linear;
    left: 100%;
}

.drawer--active > .drawer--overlay {
    opacity: 1;
    -webkit-transition: opacity .3s linear .3s;
    transition: opacity .3s linear .3s;
}

.drawer a {
    margin: 0 23px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    font-family: Montserrat;
    background-color: #FCFCFC;
    width: 189px;
}

    /* Header Menu Close Button */
    .closeBtn {
        position: absolute;
        right: 190px;
        top: 5px;
        width: 15px;
        height: 15px;
        opacity: 0.6;
        padding: 20px;
        background-color: transparent;
    }

    .closeBtn:hover {
        opacity: 1;
    }
    
    .closeBtn:before, .closeBtn:after {
        position: absolute;
        content: ' ';
        height: 15px;
        width: 2px;
        background-color: #818181;
        top: 10px;
    }

    .closeBtn:before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    .closeBtn:after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    /* End Header Menu Close Button */

.drawer .drawer__profilePic {
    background-image: url(account_pers2.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-position-y: 0px;
    border-bottom: 1px solid #D7D3CE;
    padding: 100px 0px 20px 0px;
    text-align: center;
    font-weight: 300;
    display: block;
    margin-top: 10px;
}

.drawer__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 18px 0px;
}

.drawer__icon span {
    height: 100%;
    padding-left: 12px; 
    font-weight: 300;
}

.drawer__icon span:hover {
    font-weight: 400;
}

.drawer__icon__setting {
    border-bottom: 1px solid #D7D3CE;
    padding-bottom: 20px;
}

.drawer__icon__signOut {
    padding-top: 20px;
}

.drawer__icon:hover > svg path {
    fill: #FFAE00;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.drawer__icon:hover .drawer__icon__nofill {
    fill: none;
    stroke: #FFAE00;
}
  
.drawer__icon svg path {
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}


/* Desktop Media Query */
@media screen and (min-width: 835px) {

    .logo a {
        padding: 0;
    }
    
    /* Header Search */

    .header__search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 33.33%;
    }
        
    .header__search form {
        padding-left: 15px;
    }
        
    input[type=search] {
        max-width: 293px;
        width: 100%;
        height: 45px;
        border: 1px solid #C9C5BD;
        border-radius: 3px;
        padding: 0 100px 0 40px;
        background-image: url(searchicon.svg);
        background-position: 10px 10px;
        background-repeat: no-repeat;
        font-size: 14px;
        -webkit-appearance: none;
    }
        
    input[type=search]:focus {
        outline: none;
        border: 1px solid #53504B;
    }
        
    ::-webkit-input-placeholder {
        color: #B3B1AD;
        font-family: Montserrat;
        letter-spacing: 1px;
    }
        
    :-ms-input-placeholder {
        color: #B3B1AD;
        font-family: Montserrat;
        letter-spacing: 1px;
    }
        
    ::-ms-input-placeholder {
        color: #B3B1AD;
        font-family: Montserrat;
        letter-spacing: 1px;
    }
        
    ::placeholder {
        color: #B3B1AD;
        font-family: Montserrat;
        letter-spacing: 1px;
    }

    /* Header Nav */

    .header__nav {
        width: 33.33%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        height: 100%;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    }

    .menu {
        margin: 15px 15px 0 15px;
        height: 100%;
        -ms-flex-preferred-size: 44px;
            flex-basis: 44px;
    }

    .menu button {
        padding: 29px 0 30px 0;
        display: inline-block;
        position: relative;
        background-image: url(account_pers2.svg);
        background-size: contain;
        height: 44px;
        width: 44px;
    }
    
    .header__nav a::after {
        position: absolute;
        content: "";
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: -webkit-transform 300ms ease-in-out;
        transition: -webkit-transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
        border-bottom: 2px solid #ffae00;
        display: block;
        width: 100%;
        bottom: 0;
    }
    
    .header__nav a:hover::after {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }

    .header__nav button::after {
        position: absolute;
        content: "";
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: -webkit-transform 300ms ease-in-out;
        transition: -webkit-transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
        display: block;
        width: 100%;
        bottom: 0;
        border-bottom: 2px solid #ffae00;
    }
    
    .header__nav button:hover::after {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }

    .header__nav a {
        text-decoration: none;
        color: #53504B;
        font-size: 14px;
        height: 100%;
        margin: 0 15px 0 15px;
        display: inline-block;
        position: relative;
        padding: 28px 0;
    }

    

} /* End of Desktop Media Query */

