/* Header Menu Drawer */
.drawer {
    position: fixed;
    width: 100%;
    left: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    top: 0;
    -webkit-transition: -webkit-transform .2s linear .06s;
    transition: -webkit-transform .2s linear .06s;
    transition: transform .2s linear .06s;
    transition: transform .2s linear .06s, -webkit-transform .2s linear .06s;
}

.drawer--active {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.drawer-sidebar {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 235px;
            flex: 1 0 235px;
    max-width: 235px;
    height: 100%;
    padding: 23px;
    background-color: #FCFCFC;
    border-radius: 3px 0 0 3px; /* not visible */
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.drawer-overlay {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    -webkit-transition: opacity .05s linear;
    transition: opacity .05s linear;
}

.drawer--active > .drawer-overlay {
    opacity: 1;
    -webkit-transition: opacity .3s linear .3s;
    transition: opacity .3s linear .3s;
}

.drawer a {
    /* margin: 0 23px; */
    text-decoration: none;
    font-size: 16px;
    color: #53504B;
    background-color: #FCFCFC;
}

    /* Header Menu Close Button */
    .drawer__closeBtn {
        position: absolute;
        right: 190px;
        top: 5px;
        width: 15px;
        height: 15px;
        opacity: 0.6;
        padding: 20px;
        background-color: transparent;
    }

    .drawer__closeBtn:hover {
        opacity: 1;
    }
    
    .drawer__closeBtn:before, .drawer__closeBtn:after {
        position: absolute;
        content: '';
        height: 15px;
        width: 2px;
        background-color: #818181;
        top: 10px;
    }

    .drawer__closeBtn:before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    .drawer__closeBtn:after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    /* End Header Menu Close Button */

.drawer__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 18px 0px;
}

.drawer__icon > span {
    padding-left: 12px; 
    font-weight: 300;
}

.drawer__icon:hover > span {
    font-weight: 400;
}

.drawer__icon:hover > svg path {
    fill: #FFAE00;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.drawer__icon:hover .drawer__icon__nofill {
    fill: none;
    stroke: #FFAE00;
}
  
.drawer__icon > svg path {
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

/* Drawer - Signed In */

.drawer__profilePic {
    display: block;
    background-image: url('./assets/account_pers2.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-position-y: 0px;
    padding: 100px 0px 18px 0px;
    text-align: center;
    font-weight: 300;
}

/* parent of avatar or profile image */
.drawer__profilePic > span {
    display: inline-block;
    width: 85px;
    height: 85px;
    margin-bottom: 18px;
    line-height: 85px;
    font-size: 34px;
}

.drawer__divider {
    margin: 2px 0;
    border: 0; /* otherwise weird shadow */
    border-top: 1px solid #D7D3CE;
}