<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="FiltersInput.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
</head>

<body>

    <div class="filtersInput">

        <fieldset>
            <div class="formField addListingChips">
                <legend class="formField__label" for="Type">Type</legend>
                <div>
                    <!-- styles on div -->
                    <div class="addListingChips__option">
                        <input type="radio" name="addListingChips" id="option1" value="1"/>
                        <label for="option1"> Room (shared flat) </label>
                    </div>

                    <div class="addListingChips__option addListingChips__option__flat">
                        <input type="radio" name="addListingChips" id="option2" value="2" />
                        <label for="option2"> Entire Flat </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="formField filters_slidecontainer">
            <label class="formField__label" for="rent">Rent</label>
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
    </div>

    <div class="formField--dropdown">
        <label class="formField__label" for="district">District</label>
        <select name="dropdown--menu">
            <option value="">All Districts</option>
            <option value="1">Prag 1</option>
            <option value="2">Prag 2</option>
            <option value="3">Prag 3</option>
            <option value="4">Prag 4</option>
            <option value="5">Prag 5</option>
        </select>
    </div>

</body>

</html>