$FilterInputMaxWidth: 320px;
$InputMarginBottom: 20px;
$buttonHeight: 48px;

//font-weight
$font-weight-regular: 300;
$font-weight-bold: 500;

// color variables
$color-primary: #FFAE00;
$color-red: #EB5757;
$color-text-dark: #53504B;
$color-input-border: #C9C5BD;
$color-secondary: #249974;;
$color-secondary-dark: #177456;

.filtersInput {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__cancelReset {
        display: flex;
        margin-bottom: $InputMarginBottom;
    }

    &__cancelReset > button {
        width: 100%;
        height: $buttonHeight;
        padding: 0;
        font-weight: $font-weight-regular;
        background-repeat: no-repeat;
        background-color: white;
        background-position: 25px 18px;
    }

    &__cancel {
        background-image: url("./assets/close.svg");
        border: 1px solid $color-input-border;
        border-right: none;
    }

    &__cancel:focus {
        border: 1px solid $color-primary;
    }

    &__reset {
        background-image: url("./assets/reset.svg");
        border: 1px solid $color-input-border;
    } 

    &__apply {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: -webkit-sticky;
        position: sticky;
        bottom: 1rem;
        margin-top: $InputMarginBottom;
    }

    &__apply > button {
        display: flex;
        background-color: #C08404;
        color: white;
        height: 55px;
        width: 70%;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
    }

    &__apply > button:hover {
        cursor: pointer;
        background-color: #B17A03;
    } 
}

.formField {
    color: $color-text-dark;
    display: flex;
    flex-wrap: wrap;

    > div {
        width: 100%;
        max-width: $FilterInputMaxWidth;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }

    &__label {
        width: 150px; 
        height: $buttonHeight;
        line-height: $buttonHeight; 
    }

    input[type=range] {
        max-width: $FilterInputMaxWidth;
    }

    &--dropdown {
        display: flex;
    }

    > div > select {
        width: 150px;
        height: $buttonHeight;
        line-height: $buttonHeight;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0 10px;
        background-color: white;
        color: $color-text-dark;
        border:1px solid $color-input-border;
        border-radius: 3px;
        background-image: url('./assets/arrow-down.svg');
        background-repeat: no-repeat; 
        background-position: right 10px bottom 20px;
    }

    &--dropdown > select:focus {
        border: 1px solid $color-primary;
        outline: none;
    }       
}

.addListingChips {
    margin-bottom: 20px;

    input {
        -webkit-appearance: none;
        appearance: none;
    }

    &__option {
        display: flex;
    }

    &__option:first-child {
        margin-right: 10px;
    }

    &__option label {
        border: 1px solid $color-input-border;
        border-radius: 3px;
        padding: 14px 10px;
        background-color: white;
    }

    &__option label:hover {
        cursor: pointer; 
    }

    &__option input:checked + label {
        border-color: $color-secondary;
        color: white;
        background-color: $color-secondary;
    }
}

.filters_slidecontainer {
    margin-bottom: $InputMarginBottom;
}

