.formInput {
    color: #53504B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.formInput > div {
    padding-bottom: 40px;
    width: 100%;
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.formInput__label {
    width: 150px; 
    height: 36px;
    line-height: 36px; 
}

.formInput__input {
    height: 36px;
    width: 100%;
    max-width: 180px;
    margin-right: 10px; 
    border: 1px solid#726F68;
    border-radius: 3px;
    padding: 10px;
}

.addListingChips input {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
}

.addListingChips__option label {
    border: 1px solid #726F68;
    border-radius: 3px;
    padding: 8px 10px;
}

.addListingChips__option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.addListingChips__option:first-child {
    margin-right: 10px;
}

.addListingChips__option input:focus + label { 
    border: 1px solid #FFAE00;
    -webkit-box-shadow: inset 0 0 0 0.5px #FFAE00;
            box-shadow: inset 0 0 0 0.5px #FFAE00; 
}

input[type=checkbox]:checked + label {
    border: 1px solid #FFAE00;
} 

.formInput__input--large {
    max-width: 500px;
    margin-right: 0;
}

.formInput__error { /* seems to be working fine in IE if you add 'bottom' and 'left' property */
    position: absolute;
    bottom: 13px;
    padding-left: 25px;  
    background-image: url('./assets/warning.svg');
    background-repeat: no-repeat; 
    color: #EB5757; 
    font-weight: 300;
    /* to think about: 
        1) with position absolute, what will happen if the error message 
           is long and must break over two lines on a narrow screen? 
        2) Also, if the text is over broken over two lines, is the first word on the second line
           aligned to the left border of the warning icon or to the first word of the first line? */
}

.formInput__input--textarea {
    height: 200px;
    margin-right: 0;
    max-width: 500px;
    color: #53504B;
}

.formInput--textarea > div {
    max-width: 500px;
}