.formHeading {
    margin: 15px 15px 55px 15px;
}

.formHeading {
    display: inline-block;
    font-size: 16;
    font-weight: 500;
    color: #C08404;
}

.formHeading__black {
    color: #53504B;
}
