<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="FormInput.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
</head>

<body>

    <br> <br> 
    
    <fieldset>
        <div class="formInput addListingChips">
            <legend class="formInput__label" for="Type">Type</legend>
            <div> <!-- styles on div -->
                <div class="addListingChips__option">
                    <input type="radio" name="room" id="option1" value="1" checked="checked" />
                    <label for="option1"> Room (shared flat) </label>
                </div>

                <div class="addListingChips__option addListingChips__option__flat">
                    <input type="radio" name="flat" id="option3" value="3" />
                    <label for="option3"> Entire Flat </label>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="formInput formInput--text">
        <label class="formInput__label" for="rent">Rent</label>
        <div>
            <input class="formInput__input" type="text" name="rent">
            <span class="formInput__suffix">CZK</span>
            <small class="formInput__error">This field is required</small>
        </div>
    </div>

    <div class="formInput formInput--text">
        <label class="formInput__label" for="Title">Title</label>
        <div>
            <input class="formInput__input formInput__input--large" type="text" name="title">
            <small class="formInput__error">This field is required</small>
        </div>
    </div>

    <div class="formInput formInput--textarea">
        <label class="formInput__label" for="City">Description</label>
        <div>
            <textarea class="formInput__input formInput__input--textarea" name="description" 
                placeholder="Please enter a description of the flat/ room here"
                maxlength="5000"></textarea>
            <small class="formInput__error">This field is required</small>
        </div>
    </div>

    <div class="formInput formInput--checkbox">
        <div>
            <input class="formInput__input formInput__input--checkbox" type="checkbox" name="city">
            <label class="formInput__label" for="City">check this out.</label>
        </div>
        <small class="formInput__error">Must be checked</small>
    </div>

</body>