.formField {
    color: #53504B;
    display: flex;
    flex-wrap: wrap;
}

.formField > div {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.addListingChips__options--extended > div {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.addListingChips__options--extended > div > .addListingChips__option {
    padding-bottom: 15px;
}

.formField__label {
    width: 150px; 
    height: 40px;
    line-height: 40px; 
}

.formField__input {
    height: 40px;
    width: 100%;
    max-width: 180px;
    margin-right: 10px; 
    border: 1px solid rgb(166, 166, 166);
    border-radius: 3px;
    padding: 10px;
}

.addListingChips {
    margin-bottom: 20px;
}

.addListingChips input {
    -webkit-appearance: none;
    appearance: none;
}

.addListingChips__option label,
.formField__suffix {
    border: 1px solid rgb(166, 166, 166);
    border-radius: 3px;
    padding: 10px 10px;
    background-color: white;
}

.formField__input--suffix {
    border-radius: 3px 0 0 3px;
    margin-right: 0;
}

.formField__suffix {
    border-radius: 0 3px 3px 0;
    border-left: none;
}

.addListingChips__option {
    display: flex;
}

.addListingChips__option label:hover {
    cursor: pointer; 
}

.addListingChips__option:first-child {
    margin-right: 10px;
}

.addListingChips__option input:checked + label { 
    border: 1px solid #FFAE00;
    box-shadow: inset 0 0 0 1px #FFAE00; 
}

.formField__input--large {
    max-width: 500px;
    margin-right: 0;
}

.formField__error > small { 
    padding-left: 25px;  
    background-image: url('./assets/warning.svg');
    background-repeat: no-repeat; 
    color: #EB5757; 
    font-weight: 300;
}

.formField__error {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    min-height: 35px;
}

.formField__input--textarea {
    height: 200px;
    margin-right: 0;
    max-width: 500px;
    color: #53504B;
}

.formField--textarea textarea {
    font-weight: 300;
}

.formField--textarea > div {
    max-width: 500px;
}

.formField--checkbox {
    display: flex;
    position: relative;
    min-height: 22px;
    align-items: center;
    margin-bottom: 24px;
    font-weight: 300;
}

.formField__input--checkbox {
    appearance: none;
}

.formField--checkbox__tick {
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    background: white;
    border:1px solid rgb(166, 166, 166);
    border-radius: 3px;
}

.formField--checkbox__tick:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 12px;
    height: 7px;
    background: transparent;
    top: 5px;
    left: 4px;
    border: 2px solid #FFAE00;
    border-top: none;
    border-right: none;
    transform: rotate(-48deg);
} 

.formField--checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.formField--checkbox__label {
    padding-left: 35px;
}

.formField--checkbox__label:hover {
    cursor: pointer; 
}

.formField > .formField--dropdown {
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 300;
    width: 150px;
    margin-bottom: 15px;
}

.formField--dropdown > label {
    margin-bottom: 10px;
}

.formField--dropdown > select {
    width: 100%;
    height: 40px;
    line-height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 10px;
    background-color: white;
    color: #53504B;
    border:1px solid rgb(166, 166, 166);
    border-radius: 3px;
    background-image: url('./assets/arrow-down.svg');
    background-repeat: no-repeat; 
    background-position: right 10px bottom 14px;
}

.formField--dropdown > select:focus {
    border: 1px solid #FFAE00;
    outline: none;
}

.formField--dropdown--multiple > div:first-child {
    margin-right: 10px;
    width: 170px;
}

.formField--dropdown--multiple > div:nth-child(2n) > select {
    width: 105px;
}