$buttonHeight: 48px;
$InputMaxWidth: 500px;
$InputMarginBottom: 20px;

//font-weight
$font-weight-regular: 300;
$font-weight-bold: 500;

//font-size
$font-size-normal: 14px;
$font-size-heading: 16px; 

// color variables
$color-primary: #FFAE00;
$color-red: #EB5757;
$color-text-dark: #53504B;
$color-input-border: #C9C5BD;
$color-secondary: #249974;;
$color-secondary-dark: #177456;

.formField {

    color: $color-text-dark;
    display: flex;
    flex-wrap: wrap;
    background-color: white;

    > div {
        width: 100%;
        max-width: $InputMaxWidth;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }

    &__label {
        width: 150px; 
        height: $buttonHeight;
        line-height: $buttonHeight; 
    }

    &__input {
        height: $buttonHeight;
        width: 100%;
        max-width: 180px;
        margin-right: 10px; 
        border: 1px solid $color-input-border;
        border-radius: 3px;
        padding: 10px;
    }

    &__input--suffix {
        border-radius: 3px 0 0 3px;
        margin-right: 0;
    }

    //? where is this used?
    &__suffix {
        border-radius: 0 3px 3px 0;
        border: 1px solid $color-input-border;
        border-left: none;
        padding: 14px 10px;

    }

    &__input--large {
        max-width: $InputMaxWidth;
        margin-right: 0;
    }

    &__error {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: $InputMaxWidth;
        min-height: 35px;
    }

    &__error > small { 
        padding-left: 25px;  
        background-image: url('./assets/warning.svg');
        background-repeat: no-repeat; 
        color: $color-red; 
        font-weight: $font-weight-regular;
    }

    &__input--textarea {
        height: 200px;
        margin-right: 0;
        max-width: $InputMaxWidth;
        color: $color-text-dark;
    }

    &--textarea textarea {
        font-weight: $font-weight-regular;
    }

    &--textarea > div {
        max-width: $InputMaxWidth;
    }
}

.formField--checkbox {

        display: flex;
        position: relative;
        min-height: 22px;
        align-items: center;
        margin-bottom: $InputMarginBottom;
        font-weight: $font-weight-regular;

    &__input {
        opacity: 0;
    }

    &__tick {
        cursor: pointer;
        position: absolute;
        width: 22px;
        height: 22px;
        background: white;
        border:1px solid $color-input-border;
        border-radius: 3px;
    }

        &__tick:after {
            opacity: 0;
            content: '';
            position: absolute;
            width: 12px;
            height: 7px;
            background: transparent;
            top: 5px;
            left: 4px;
            border: 2px solid $color-primary;
            border-top: none;
            border-right: none;
            transform: rotate(-48deg);
        } 

    input[type=checkbox]:checked + label:after {
        opacity: 1;
    }

    &__label {
        padding-left: 35px;
    }

    &__label:hover {
        cursor: pointer; 
    }
}

.formField--dropdown {
    
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        color: $color-text-dark;
        font-size: $font-size-normal;
        font-weight: $font-weight-regular;
        width: 140px;
        margin-bottom: 15px;

        > label {
            margin: 5px 0 10px 0;
        }

        > select {
            width: 100%;
            height: $buttonHeight;
            line-height: $buttonHeight;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0 10px;
            background-color: white;
            color: $color-text-dark;
            border:1px solid $color-input-border;
            border-radius: 3px;
            background-image: url('./assets/arrow-down.svg');
            background-repeat: no-repeat; 
            background-position: right 10px bottom 18px;
        }

        > select:focus {
            border: 1px solid $color-primary;
            outline: none;
    }

    &--multiple > div:first-child {
        margin-right: 10px;
        width: 170px;
    }

    &--multiple > div:nth-child(2n) > select {
        width: 105px;
    }
}

.addListingChips {
    margin-bottom: $InputMarginBottom;

    input {
        -webkit-appearance: none;
        appearance: none;
    }

    &__option {
        display: flex;
    }

    &__option label {
        border: 1px solid $color-input-border;
        border-radius: 3px;
        padding: 14px 10px;
        background-color: white;
    }

    &__option label:hover {
        cursor: pointer; 
    }

    &__option:first-child {
        margin-right: 10px;
    }

    &__option input:checked + label { 
        border: 1px solid $color-primary;
        box-shadow: inset 0 0 0 1px $color-primary; 
    }

    &__options--extended > div {
        max-width: $InputMaxWidth;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }

    &__options--extended > div > .addListingChips__option {
        padding-bottom: 15px;
    }
}

