.addListingChips {
    display: flex;
    align-items: center;
    color: #53504B;
    flex-wrap: wrap;
}

.addListingChips > div {
    display: flex;
    width: 287px;
    justify-content: space-between
}

.addListingChips input {
    -webkit-appearance: none;
    appearance: none;
}

.addListingChips__option label {
    border: 1px solid #726F68;
    border-radius: 3px;
    padding: 8px 10px;
}

.addListingChips__option {
    display: flex;
}

.addListingChips legend {
    width: 130px;
    margin: 15px 0;
    white-space: normal;
}

.addListingChips__option input:focus + label { 
    border: 1px solid #FFAE00;
    box-shadow: inset 0 0 0 0.5px #FFAE00; 
}

input[type=checkbox]:checked + label {
    border: 1px solid #FFAE00;
} 

.formInput {
    display: flex;
    color: #53504B;
    flex-wrap: wrap;
    flex-direction: row;
}  

.formInput > div {
    padding-bottom: 40px;
    width: 287px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.formInput__label {
    width: 130px;
    height: 18px;
    color: #53504B;
    margin: 9px 0 15px 0;
}

.formInput__input {
    width: 240px;
    height: 36px;
    margin: 0 10px 0 0;
    border: 1px solid#726F68;
    border-radius: 3px;
}

.formInput__error {
    position: absolute;
    bottom: 13px;
    padding: 0 0 0 25px;  
    background-image: url('./assets/warning.svg');
    background-repeat: no-repeat; 
    color: #EB5757; 
    font-weight: 300;
}

.formInput__input--textarea {
    height: 100px;
    width: 287px;
    margin: 0;
}



/* Desktop Media Query */

/*  @media screen and (min-width: 443px) */