//font-weight
$font-weight-regular: 300;
$font-weight-bold: 500;

//font-size
$font-size-normal: 14px;
$font-size-heading: 16px; 

// color variables
$color-primary: #FFAE00;
$color-red: #EB5757;
$color-text-dark: #53504B;
$color-input-border: #C9C5BD;
$color-secondary: #249974;;
$color-secondary-dark: #177456;


.addListingProgressBar {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    progress {
        display: block;
        width: 90%;
        max-width: 840px;
        height: 10px;
        border: 0px;
        border-radius: 10px;
        -webkit-appearance: none;
    }

    label {
        text-align: end;
        width: 90%;
        max-width: 840px;
        color: #85918D;
        font-size: 13px;
        margin-bottom: 5px;
    }
}

//for browser compatibility//
progress[value]::-webkit-progress-bar {
    background-color: #D6DCDA;
    border-radius: 10px;
}

progress[value]::-moz-progress-bar {
    background-color: $color-secondary;
    border-radius: 10px;
}

progress[value]::-webkit-progress-value {
      border-radius: 10px; 
      background-color: $color-secondary;
}

