
.addListingProgressBar progress {
    display: block;
    width: 90%;
    max-width: 840px;
    height: 10px;
    -webkit-appearance: none;
}

.addListingProgressBar label {
    text-align: end;
    position: absolute;
    width: 90%;
    max-width: 840px;
    top: 0; 
    margin-top: 12px;
}

progress[value]::-webkit-progress-bar {
    background-color: #D6DCDA;
    border-radius: 10px;
}

progress[value]::-webkit-progress-value {
      border-radius: 10px; 
      background-color: #249974;
}

