.avatar {
    font-size: inherit;  /* value must be specified in the parent */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #249974;
    font-weight: 500;
    border: 1px solid #249974;
    border-radius: 50%;
}