html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: Montserrat; 
    font-size: 16px;
    padding: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

button:focus:hover {
    outline: none !important;
}

button:active {
    outline: none !important;
}

input[type=checkbox] {
  opacity: 0;
}

/* Focus styles*/

input[type=text]:focus,
input[type=number]:focus,
input[type=range]:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none !important;
  border: 1px solid #FFAE00;
  box-shadow: 0 0 3px 1px #FFAE00;
}

input[type=radio]:focus + label,
input[type=checkbox]:focus + label {
  outline: none !important;
  border: 1px solid #FFAE00;
  box-shadow: 0 0 3px 1px #FFAE00;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  box-shadow: 0 0 3px 1px #FFAE00;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border */
  border: none;
  box-shadow: none;
}

/* End of Focus styles*/

 
select:hover {
  cursor: pointer; 
}


/* Styling of range input*/

  input[type=range] {
    -webkit-appearance: none; 
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #249974;
    height: 32px;
    width: 32px;
    border-radius: 100px;
    background: white;
    cursor: pointer;
    margin-top: -14px;
  }
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    border: 1px solid #249974;
    height: 32px;
    width: 32px;
    border-radius: 100px;
    background: white;
    cursor: pointer;
    margin-top: -14px;
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    border: 1px solid #249974;
    height: 32px;
    width: 32px;
    border-radius: 100px;
    background: white;
    cursor: pointer;
    margin-top: -14px;
  }

  input[type=range]::-webkit-slider-runnable-track {
    max-width: 320px;
    height: 6px;
    cursor: pointer;
    background: #D6DCDA;
    border-radius: 3px;
  }

  input[type=range]::-moz-range-track {
    max-width: 320px;
    height: 6px;
    cursor: pointer;
    background: #D6DCDA;
    border-radius: 3px;
  }

  input[type=range]::-ms-track {
    max-width: 320px;
    height: 6px;
    cursor: pointer;
    background: #D6DCDA;
    border-radius: 3px;    
    border-color: transparent;
    color: transparent;
  }
/* End of Styling of range input*/
