.addListingChips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #53504B;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.addListingChips > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.addListingChips input {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
}

.addListingChips__option label {
    border: 1px solid #726F68;
    border-radius: 3px;
    padding: 8px 10px;
}

.addListingChips__option {
    margin: 15px 0 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.addListingChips__option__flat {
    margin-right: 15px;
}

.addListingChips legend {
    margin: 0 70px 0 15px;
    padding-left: 0;
    padding-right: 0; 
    white-space: normal;
}

.addListingChips__option input:focus + label { 
    border: 1px solid #FFAE00;
    -webkit-box-shadow: inset 0 0 0 0.5px #FFAE00;
            box-shadow: inset 0 0 0 0.5px #FFAE00; 
}

input[type=checkbox]:checked + label {
    border: 1px solid #FFAE00;
  } 

fieldset {
    padding: 0;
}

.formInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #53504B;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}  

.formInput__label {
    margin: 0 70px 0 15px;
}

.formInput__input-suffix {
    display: inline-block;
}

.formInput__input {
    margin: 15px 10px 0 15px;
    width: 240px;
    height: 36px;
    border: 1px solid#726F68;
    border-radius: 3px;

}

.formInput__suffix {
    margin-right: 15px;
}

/* Desktop Media Query */
@media screen and (min-width: 443px) {

    .addListingChips legend {
        margin: 0 10% 0 15px;
    }

    .addListingChips__option {
        margin: 0 0 0 15px;
    }
    
}